<footer class="ftr">
  <div class="container ftr__row">
    <div>
      <a class="ftr__logo" [routerLink]="loc.home()">🎣 FishMap<em>.ua</em></a>
      <p>{{ 'footer.tagline' | transloco }}</p>
    </div>
    <nav>
      <a [routerLink]="loc.link('catalog')">{{ 'nav.catalog' | transloco }}</a>
      <a [routerLink]="loc.link('map')">{{ 'nav.map' | transloco }}</a>
      <a [routerLink]="loc.link('blog')">{{ 'nav.blog' | transloco }}</a>
    </nav>
  </div>
  <div class="container ftr__copy">© 2026 FishMap.ua</div>
</footer>
