<header class="hdr" [class.hdr--solid]="solid()">
  <div class="container hdr__row">
    <a [routerLink]="loc.home()" class="hdr__logo">🎣 <span>FishMap<em>.ua</em></span></a>
    <nav class="hdr__nav">
      <a [routerLink]="loc.link('catalog')">{{ 'nav.catalog' | transloco }}</a>
      <a [routerLink]="loc.link('map')">{{ 'nav.map' | transloco }}</a>
      <a [routerLink]="loc.link('blog')">{{ 'nav.blog' | transloco }}</a>
      <a [routerLink]="loc.link('biteCalendar')">{{ 'nav.biteCalendar' | transloco }}</a>
    </nav>
    <div class="hdr__lang">
      <app-lang-switcher [pair]="pair()" />
    </div>
  </div>
</header>
